* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    padding: 1.5rem;
    color: #222;
    font-size: 4rem;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.nav_container {
    background-color: #222;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}